body, html{

    margin: 0 auto;
    padding: 0;
}

/* url("./photos/tim-mossholder-WE_Kv_ZB1l0-unsplash.jpg") */
.bg-container{
   
    background-image: url("./photos/tim-mossholder-WE_Kv_ZB1l0-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 900px; /* or any desired height */
    display: flex;
    align-items: center;
    justify-content: center;
}



 